
<ion-header>
  <ion-toolbar>
      <ion-title>Series </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchValue" (ionChange)="updateSearchList()" debounce="100" animated="true" autocomplete="on" placeholder="Search for shows...">
      </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of MovieData">
      <ion-card-header>
        <ion-card-title>{{movie.Title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="movie.Poster"></ion-img>
        
      </ion-card-content>
      </ion-card>
  </ion-content>

    