
<ion-header>
  <ion-toolbar>
      <ion-title>About App</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
  
 
</ion-header>


<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>About App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
       <h1>
         This is a app where you can search movies or shows to see if they are out, everything that is shown means it is out the first page shows Avengers page then the second page shows series and the third page turns on flashlight and fourth page is the about app.
       </h1>
        
      </ion-card-content>
      </ion-card>
  </ion-content>


    